<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout"
>
<head>
    <meta charset="UTF-8" />
    <title>Produits</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="space col-md-6 col-xs-12" layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading">Warning</div>
        <div class="panel-body">
           <h3 class="red">Vous être pas autorisé pour entrer dans cette page!</h3>
        </div>
    </div>

</div>
</body>
</html>